<div class="title">
    <h1>Objetos perdidos</h1>
</div>
<div class="subtitle">
    <h2>Aquí podrá ver la lista de todos los objetos perdidos que han sido registrados como encontrados.</h2>
</div>
<mat-card class="card">
    <mat-card-title>Laptop</mat-card-title>
    <blockquote>
        <mat-label>Es una laptop.</mat-label>
    </blockquote>
    <img mat-card-image src="https://images.unsplash.com/photo-1618424181497-157f25b6ddd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wJTIwY29tcHV0ZXJ8ZW58MHx8MHx8&w=1000&q=80" alt="Photo of a laptop.">
    <blockquote>
        <mat-label>Dispositivos electrónicos</mat-label>
    </blockquote>
    <blockquote>
        <mat-label>Campus Monterrey</mat-label>
    </blockquote>
</mat-card>
