<section class="hero-section-5">
    <h1 class="title">Objetos perdidos</h1>
    <p>Aquí podrá ver la lista de todos los objetos perdidos que han sido registrados como encontrados.</p>
</section>
<div fxLayout="row" fxLayoutWrap>
    <div *ngFor="let package of totalAngularPackages; let i = index" fxFlex.lg="33" fxFlex.lt-lg="50" fxFlex.xs="100">
        <div>
            <mat-card class="card">
                <blockquote>
                    <mat-label>{{totalAngularPackages[i].campus}}</mat-label>
                </blockquote>
                <blockquote>
                    <mat-label>{{totalAngularPackages[i].category}}</mat-label>
                </blockquote>
                <blockquote>
                    <mat-label>{{totalAngularPackages[i].location}}</mat-label>
                </blockquote>
                <img mat-card-image src={{totalAngularPackages[i].imageBase64}}>
                <mat-card-actions>
                    <button class="button" mat-raised-button (click)="onButtonClick()">Reclamar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<!--
<div>
    <mat-card class="card">
        <blockquote>
            <mat-label>{{totalAngularPackages[0].campus}}</mat-label>
        </blockquote>
        <blockquote>
            <mat-label>{{totalAngularPackages[0].category}}</mat-label>
        </blockquote>
        <blockquote>
            <mat-label>{{totalAngularPackages[0].location}}</mat-label>
        </blockquote>
        <img mat-card-image src={{totalAngularPackages[0].imageBase64}}>
        <mat-card-actions>
            <button class="button" mat-raised-button>Reclamar</button>
        </mat-card-actions>
    </mat-card>
</div>

<div>
    <mat-card class="card">
        <blockquote>
            <mat-label>{{totalAngularPackages[1].campus}}</mat-label>
        </blockquote>
        <blockquote>
            <mat-label>{{totalAngularPackages[1].category}}</mat-label>
        </blockquote>
        <blockquote>
            <mat-label>{{totalAngularPackages[1].location}}</mat-label>
        </blockquote>
        <img mat-card-image src={{totalAngularPackages[1].imageBase64}}>
        <mat-card-actions>
           <button class="button" mat-raised-button>Reclamar</button>
        </mat-card-actions>
    </mat-card>
</div>

<div>
    <mat-card class="card">
        <blockquote>
            <mat-label>{{totalAngularPackages[2].campus}}</mat-label>
        </blockquote>
        <blockquote>
            <mat-label>{{totalAngularPackages[2].category}}</mat-label>
        </blockquote>
        <blockquote>
            <mat-label>{{totalAngularPackages[2].location}}</mat-label>
        </blockquote>
        <img mat-card-image src={{totalAngularPackages[2].imageBase64}}>
        <mat-card-actions>
            <button class="button" mat-raised-button>Reclamar</button>
        </mat-card-actions>
    </mat-card>
</div>


<div>
    <mat-card class="card">
        <blockquote>
            <mat-label>{{totalAngularPackages[3].campus}}</mat-label>
        </blockquote>
        <blockquote>
            <mat-label>{{totalAngularPackages[3].category}}</mat-label>
        </blockquote>
        <blockquote>
            <mat-label>{{totalAngularPackages[3].location}}</mat-label>
        </blockquote>
        <img mat-card-image src={{totalAngularPackages[3].imageBase64}}>
        <mat-card-actions>
            <button class="button" mat-raised-button>Reclamar</button>
        </mat-card-actions>
    </mat-card>
</div>
-->