.title {
  color:aliceblue;
  margin-left:15px;
  font-size: 150%;
  border: auto;
}

.hero-section-5 {
  background:#11A1B7;
  padding: 5px 0 5px;
  text-align: center;
}

p{
  color:aliceblue;
  margin-left:15px;
  border: auto;
}

.subtitle {
  font-weight: lighter;
  text-align: center;
  border: auto;
}

.card {
    margin: auto;
    top: 20px;
    min-width: 200px;
    max-width: 300px;
    width: 100%;
    text-align: center;
  }

  .button {
    background: #11A1B7;
    color: white;
  }
  