<!DOCTYPE html>
<html lang=”en”>
<body>
    <div class="bg">
        <section class="hero-section-5">
             <img src="../../assets/logolocatec_2.png" alt="Logo Locatec">
            <p class="font-16 text-uppercase">Bienvenido.</p>
            <h1 class="importantText mb-4">Encuentra tus cosas en un solo lugar
                <span class="text-success">LocaTec.</span>
            </h1>
            <p>Debes ingresar a tu cuenta institucional del Tec.</p>
        </section>
    </div>
</body>
</html>