<div class="title">
    <h1>FAQ</h1>
</div>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header style="background: #11A1B7;">
            <mat-panel-title>
                ¿Cómo reportar un objeto?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Regístrate con tu correo institucional, y a continuación se te habilitará la pestaña de reportar objetos, donde se te pedirá que llenes un formulario.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                ¿Dónde o cómo puedo recuperar un objeto?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Todos los objetos en la pestaña de Objetos Encontrados, fueron entregados a Locatec.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                ¿Qué pasa si no encuentro mi objeto en Objetos Pedidos?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Te recomendamos darte una vuelta a locatec de tu Campus.</p>
    </mat-expansion-panel>

</mat-accordion>

<div class="phonenum">
    <h3>Teléfono: 81 8358 2000</h3>
</div>