.title {
    color:aliceblue;
    margin-left:15px;
    font-size: 150%;
    border: auto;
}

.hero-section-5 {
    background:#11A1B7;
    padding: 5px 0 5px;
    text-align: center;
}

p{
    color:aliceblue;
    margin-left:15px;
    border: auto;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.mat-accordion {
    display: grid;
    margin: auto;
    width: 50%;
    margin-top: 2rem;
}

.mat-expansion-panel-header-title {
    color: white;
}
.mat-expansion-panel {
    background: #11A1B7;
    color: white;
}

.phonenum {
    text-align: center;
    margin: 1%;
}