<section class="hero-section-5">
  <h1 class="title2">Reportar Objetos</h1>
  <p>Completa el formulario para reportar un objeto perdido.</p>
</section>

<mat-card class="form" tabindex="0">
<form [formGroup]="reportarForm" (ngSubmit)="onFormSubmit()">

  <mat-card-title class="title">Reportar Objetos</mat-card-title>
  <p><mat-card-subtitle>Ingrese la siguiente información para reportar un objeto perdido y que se pueda mostra en la pagina de objetos perdidos.</mat-card-subtitle></p>
  
  <mat-form-field appearance="fill">
    <mat-label>Campus</mat-label>
    <mat-select formControlName="campus" required>
      <mat-option value="Aguascalientes">Aguascalientes</mat-option>
      <mat-option value="Chiapas">Chiapas</mat-option>
      <mat-option value="Chihuahua">Chihuahua</mat-option>
      <mat-option value="Ciudad de México">Ciudad de México</mat-option>
      <mat-option value="Ciudad Juárez">Ciudad Juárez</mat-option>
      <mat-option value="Ciudad Obregón">Ciudad Obregón</mat-option>
      <mat-option value="Cuernavaca">Cuernavaca</mat-option>
      <mat-option value="Estado de México">Estado de México</mat-option>
      <mat-option value="Guadalajara">Guadalajara</mat-option>
      <mat-option value="Hidalgo">Hidalgo</mat-option>
      <mat-option value="Irapuato">Irapuato</mat-option>
      <mat-option value="Laguna">Laguna</mat-option>
      <mat-option value="León">León</mat-option>
      <mat-option value="Monterrey">Monterrey</mat-option>
      <mat-option value="Morelia">Morelia</mat-option>
      <mat-option value="Puebla">Puebla</mat-option>
      <mat-option value="Querétaro">Querétaro</mat-option>
      <mat-option value="Saltillo">Saltillo</mat-option>
      <mat-option value="San Luis Potosí">San Luis Potosí</mat-option>
      <mat-option value="Santa Fe">Santa Fe</mat-option>
      <mat-option value="Sinaloa">Sinaloa</mat-option>
      <mat-option value="Sonora Norte">Sonora Norte</mat-option>
      <mat-option value="Tampico">Tampico</mat-option>
      <mat-option value="Toluca">Toluca</mat-option>
      <mat-option value="Zacatecas">Zacatecas</mat-option>
    </mat-select>
    <mat-error *ngIf="campus.hasError('required')">Debe escoger una ciudad</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Categoria</mat-label>
    <input matInput type="text" formControlName="category" required>
    <mat-error *ngIf="category.hasError('required')">Debe ingresar una categoria</mat-error>
  </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>Ubicacion</mat-label>
    <input matInput type="text" formControlName="location" required>
    <mat-error *ngIf="location.hasError('required')">Debe ingresar una ubicacion</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Comentarios</mat-label>
    <textarea matInput placeholder="Ex. Es negra, con una mancha café..." formControlName="comments"></textarea>
  </mat-form-field>

  <p>Suba imagen de objeto perdido.</p>
  <blockquote>
  <input type="file" [formControl]="imageBase64" (change)="onChange($event)" accept="image/png, image/jpeg">
  </blockquote>

  <mat-card-actions>
    <button type="submit" class="button" [disabled]="!reportarForm.valid" mat-raised-button>Enviar</button>
  </mat-card-actions>

</form>
</mat-card>
