.title {
  color: #0474A9;
  font-size: 150%;
}

.form {
    margin: auto;
    top: 40px;
    min-width: 150px;
    max-width: 405px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .button {
    background: #11A1B7;
    color: white;
  }
